.h
	.g-wrapper
		.home
			.home__block
				.home__block-title
					.home__block-title-breadcrums
						a(href="#").home__block-title-breadcrums-main Главная
						span /
						a(href="#").home__block-title-breadcrums-main Блог
						span /
						a(href="#").home__block-title-breadcrums-sub Промо-акция для новых партнеров
					.home__block-title-text Промо-акция для новых партнеров
				.home__block-icons
					a(href="#" target="_blank")
						i.fa.fa-twitter
					a(href="#" target="_blank")
						i.fa.fa-instagram
					a(href="#" target="_blank")
						i.fa.fa-vk
					a(href="#" target="_blank")
						i.fa.fa-facebook
			.home__block
				img(src="/images/samurai.png")
