.error {
  height: 580px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  position: relative;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.error__block:nth-child(1) {
  -webkit-flex-basis: 35%;
      -ms-flex-preferred-size: 35%;
          flex-basis: 35%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1;
}
.error__block:nth-child(2) {
  -webkit-flex-basis: 50px;
      -ms-flex-preferred-size: 50px;
          flex-basis: 50px;
  min-width: 50%;
  position: absolute;
  height: 100%;
  top: 0;
  left: 35%;
}
.error__block:nth-child(2) img {
  position: absolute;
  bottom: 0;
  left: 0;
}
.error__block:nth-child(3) {
  -webkit-flex-basis: 15%;
      -ms-flex-preferred-size: 15%;
          flex-basis: 15%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  z-index: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
}
.error__block-symbol {
  width: 102px;
  margin-bottom: 30px;
}
.error__block-desc {
  font-family: $Regular;
  line-height: 26px;
  font-size: 0.825rem;
  color: $text;
  margin-bottom: 20px;
}
.error__block-desc a {
  color: $red;
  border-bottom: 1px solid $red;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  margin: 0 4px;
}
.error__block-desc a:hover {
  color: $text;
  border-color: $text;
}
.error__block-imgsmall {
  display: none;
}
.error__block-img {
  display: block;
}
.error__block-link a {
  color: $red;
  border-bottom: 1px solid $redborder;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  font-family: $Regular;
  line-height: 26px;
  font-size: 0.825rem;
}
.error__block-link a:hover {
  color: $text;
  border-color: $text;
}
.error__block-title {
  margin-top: 50px;
  font-family: $Light;
  margin-bottom: 30px;
  font-size: 3.25rem;
  color: $red;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.error__block-title-text {
  color: $black;
  line-height: 64px;
  margin-right: 15px;
}
.error__block-title-dynamic {
  line-height: 64px;
}
.error__block-item {
  -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
  margin: 14px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.error__block-item-symbol {
  -webkit-flex-basis: 50%;
      -ms-flex-preferred-size: 50%;
          flex-basis: 50%;
}
.error__block-item-text {
  -webkit-flex-basis: 50%;
      -ms-flex-preferred-size: 50%;
          flex-basis: 50%;
  font-family: $SemiBold;
  font-size: 0.625rem;
  text-transform: uppercase;
  color: #c5c5c5;
  line-height: 14px;
  letter-spacing: 1px;
}
.error__block-item:nth-child(1) {
  margin-top: 50px;
}
@media (max-width: 991px) {
  .error {
    height: 500px;
  }
  .error__block-imgsmall {
    display: block;
  }
  .error__block-img {
    display: none;
  }
  .error__block:nth-child(1) {
    -webkit-flex-basis: 40%;
        -ms-flex-preferred-size: 40%;
            flex-basis: 40%;
  }
  .error__block:nth-child(2) {
    left: 30%;
  }
  .error__block-item {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .error__block-item-text {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    text-align: center;
    margin-top: 4px;
  }
  .error__block-item-symbol {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 768px) {
  #error .g-wrapper {
    padding: 0 0 0 20px;
  }
  .error {
    height: 100%;
  }
  .error__block-title {
    margin-top: 100px;
    font-size: 2rem;
  }
  .error__block:nth-child(3) {
    display: none;
  }
  .error__block-link:last-child {
    margin-bottom: 40px;
  }
}
@media (max-width: 650px) {
  .error__block:nth-child(1) {
    -webkit-flex-basis: 80%;
        -ms-flex-preferred-size: 80%;
            flex-basis: 80%;
  }
  .error__block-imgsmall {
    opacity: 0.1;
  }
}
