.blog-single {
  padding: 50px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.blog-single__container {
  -webkit-flex-basis: 69%;
      -ms-flex-preferred-size: 69%;
          flex-basis: 69%;
}
.blog-single__container .content {
  padding-top: 0;
}
.blog-single__container-info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fcfcfc;
  border: 1px solid #e7e7e7;
  padding: 25px 30px;
  -webkit-border-radius: 8px;
          border-radius: 8px;
  margin-bottom: 30px;
}
.blog-single__container-info-left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.blog-single__container-info-left-item {
  margin-right: 20px;
}
.blog-single__container-info-left-item i {
  font-size: 14px;
}
.blog-single__container-info-left-item span {
  font-family: $Light;
  color: $text;
  font-size: 0.75rem;
  line-height: 24px;
  margin-left: 4px;
}
.blog-single__container-info-left-item:last-child span {
  border-bottom: 1px solid $redborder;
  cursor: pointer;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.blog-single__container-info-left-item:last-child span:hover {
  border-color: $red;
}
.blog-single__container-info-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.blog-single__container-info-right-item {
  margin-left: 20px;
}
.blog-single__container-info-right-item i {
  font-size: 14px;
  margin-left: 4px;
  color: $red;
}
.blog-single__container-info-right-item span {
  font-family: $Light;
  color: $text;
  font-size: 0.75rem;
  line-height: 24px;
  margin-left: 4px;
}
.blog-single__container-info-right-link {
  margin-left: 20px;
  font-family: $SemiBold;
  font-size: 0.625rem;
  text-transform: uppercase;
  cursor: pointer;
  color: $red;
  line-height: 14px;
  border-bottom: 1px dashed $redborder;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.blog-single__container-info-right-link:hover {
  border-color: $red;
}
@media (max-width: 1080px) {
  .blog-single {
    padding: 40px 0;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .blog-single__container {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
  }
}
@media (max-width: 650px) {
  .blog-single__container-info {
    padding: 20px;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .blog-single__container-info-left {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    margin-bottom: 10px;
  }
  .blog-single__container-info-left-item:last-child {
    margin-right: 0;
  }
  .blog-single__container-info-right {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
  }
  .blog-single__container-info-right-item {
    margin-left: 0;
    margin-right: 20px;
  }
  .blog-single__container-info-right-item span {
    margin-left: 0;
  }
  .blog-single__container-info-right-item span:nth-child(3) {
    margin-left: 4px;
  }
  .blog-single__container-info-right-link {
    margin-left: 0;
  }
}
