#page-blog-single .h .home__block:nth-child(1) {
  -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
  z-index: 1;
}
#page-blog-single .h .home__block:nth-child(2) img {
  opacity: 0.15;
}
#page-blog-single .h .home__block-title-text {
  font-size: 2rem;
  line-height: 35px;
}
