<!DOCTYPE html>
html
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=no")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title Red Radiance - Contacts
		link(rel="stylesheet", href="/css/libs.min.css")
		link(rel="stylesheet", href="/css/style.css")
		link(rel="shortcut icon" type="image/png" href="/images/favicon.png")
	body
		.render
		include ./blocks/common/header.pug
		#barba-wrapper
			.barba-container#page-contacts
				include ./blocks/contacts/home.pug
				.container
					section#contacts
						include ./blocks/contacts/contacts.pug
					section#footer
						include ./blocks/common/footer.pug
					include ./blocks/common/popup.pug
				script(src="/js/libs.min.js")
				script(src="/js/main.js")
