.b
	.g-wrapper
		.business
			.business__block
				.business__block-img
				span.business__block-title
					a(href="#") Промышленность
				span.business__block-link
					a(href="#") Энергетика
				span.business__block-link
					a(href="#") Нефтянные компании
				span.business__block-link
					a(href="#") Заводы
				span.business__block-link
					a(href="#") Металлургия
				span.business__block-link
					a(href="#") Химическая промышленность
				span.business__block-link
					a(href="#") Машиностроение
				span.business__block-link
					a(href="#") Лесная промышленность
				.business__block-bg(style="background: url(/images/business1.jpg) 50% 50% no-repeat; background-size: cover;")
			.business__block
				.business__block-img
				span.business__block-title
					a(href="#") Политика и государственные структуры
				span.business__block-link
					a(href="#") Прокуратура
				span.business__block-link
					a(href="#") Мэрия
				span.business__block-link
					a(href="#") Суд
				span.business__block-link
					a(href="#") МВД
				span.business__block-link
					a(href="#") Партии
				span.business__block-link
					a(href="#") Муниципалитет
				span.business__block-link
					a(href="#") МФЦ
				span.business__block-link
					a(href="#") Избирательная компания
				.business__block-bg(style="background: url(/images/business2.jpg) 50% 50% no-repeat; background-size: cover;")
			.business__block
				.business__block-img
				span.business__block-title
					a(href="#") Медицина
				span.business__block-link
					a(href="#") Клиника
				span.business__block-link
					a(href="#") Больница
				span.business__block-link
					a(href="#") Медицинский центр
				span.business__block-link
					a(href="#") Стоматологическая клиника
				span.business__block-link
					a(href="#") Диспансер
				span.business__block-link
					a(href="#") Центр красоты и здоровья
				span.business__block-link
					a(href="#") Аптека
				span.business__block-link
					a(href="#") Медицинский портал
				span.business__block-link
					a(href="#") Санаторий
				.business__block-bg(style="background: url(/images/business3.jpg) 50% 50% no-repeat; background-size: cover;")
			.business__block.business__block-full
				.business__block-img
				span.business__block-title
					a(href="#") Торговля
				span.business__block-link
					a(href="#") Одежда
				span.business__block-link
					a(href="#") Бытовая техника
				span.business__block-link
					a(href="#") Инструменты
				span.business__block-link
					a(href="#") Спортивные товары
				span.business__block-link
					a(href="#") Цветочные магазины
				span.business__block-link
					a(href="#") Билеты
				span.business__block-link
					a(href="#") Музыкальные инструменты
				span.business__block-link
					a(href="#") Аксессуары
				span.business__block-link
					a(href="#") Книжные магазины
				span.business__block-link
					a(href="#") Автозапчасти
				span.business__block-link
					a(href="#") Мебель
				span.business__block-link
					a(href="#") Ювелирный магазин
				span.business__block-link
					a(href="#") Стройматериалы
				.business__block-bg(style="background: url(/images/business4.jpg) 50% 50% no-repeat; background-size: cover;")
			.business__block
				.business__block-img
				span.business__block-title
					a(href="#") Образование
				span.business__block-link
					a(href="#") Конференции
				span.business__block-link
					a(href="#") Образовательные центры
				span.business__block-link
					a(href="#") Библиотеки
				span.business__block-link
					a(href="#") Образовательный портал
				span.business__block-link
					a(href="#") Школы
				span.business__block-link
					a(href="#") Университеты
				span.business__block-link
					a(href="#") ВУЗы
				.business__block-bg(style="background: url(/images/business5.jpg) 50% 50% no-repeat; background-size: cover;")
			.business__block
				.business__block-img
				span.business__block-title
					a(href="#") Транспорт
				span.business__block-link
					a(href="#") Логистика
				span.business__block-link
					a(href="#") Автодилер
				span.business__block-link
					a(href="#") Автомобильный завод
				span.business__block-link
					a(href="#") Автоцентр
				span.business__block-link
					a(href="#") Транспортная компания
				span.business__block-link
					a(href="#") Такси
				span.business__block-link
					a(href="#") Авиакомпании
				span.business__block-link
					a(href="#") ЖД компании
				span.business__block-link
					a(href="#") Судоходные компании
				span.business__block-link
					a(href="#") Экспедиторские компании
				span.business__block-link
					a(href="#") Грузовая комания
				.business__block-bg(style="background: url(/images/business6.jpg) 50% 50% no-repeat; background-size: cover;")
			.business__block
				.business__block-img
				span.business__block-title
					a(href="#") HoReCa
				span.business__block-link
					a(href="#") Агрокомпании
				span.business__block-link
					a(href="#") Доставка еды
				span.business__block-link
					a(href="#") Отель
				span.business__block-link
					a(href="#") Ресторан
				span.business__block-link
					a(href="#") Кафе
				span.business__block-link
					a(href="#") Кондитерская
				span.business__block-link
					a(href="#") Производители продуктов питания
				span.business__block-link
					a(href="#") Санаторий
				span.business__block-link
					a(href="#") Гостиница
				span.business__block-link
					a(href="#") Продукты питания
				.business__block-bg(style="background: url(/images/business7.jpg) 50% 50% no-repeat; background-size: cover;")
			.business__block
				.business__block-img
				span.business__block-title
					a(href="#") Строительство и недвижимость
				span.business__block-link
					a(href="#") Агентства недвижимости
				span.business__block-link
					a(href="#") Строительные компании
				span.business__block-link
					a(href="#") Строительный портал
				span.business__block-link
					a(href="#") Жилой комплекс
				span.business__block-link
					a(href="#") Риелторские агентства
				.business__block-bg(style="background: url(/images/business8.jpg) 50% 50% no-repeat; background-size: cover;")
			.business__block
				.business__block-img
				span.business__block-title
					a(href="#") Сфера услуг
				span.business__block-link
					a(href="#") Банки
				span.business__block-link
					a(href="#") Строительные компании
				span.business__block-link
					a(href="#") Фитнес клуб
				span.business__block-link
					a(href="#") Адвокат
				span.business__block-link
					a(href="#") Салон красоты
				.business__block-bg(style="background: url(/images/business9.jpg) 50% 50% no-repeat; background-size: cover;")
			.business__block.business__block-full
				.business__block-img
				span.business__block-title
					a(href="#") Информационные ресурсы
				span.business__block-link
					a(href="#") Деловой портал
				span.business__block-link
					a(href="#") Новостной портал
				span.business__block-link
					a(href="#") Информационно-аналитический портал
				span.business__block-link
					a(href="#") Интернет-ресурс
				span.business__block-link
					a(href="#") Телевидение
				span.business__block-link
					a(href="#") Автомобильный портал
				span.business__block-link
					a(href="#") Радио
				.business__block-bg(style="background: url(/images/business10.jpg) 50% 50% no-repeat; background-size: cover;")
