.g-wrapper
	.sitemap
		.sitemap__block
			.sitemap__block-title RedRadiance
			span.sitemap__block-link
				a(href="#") Главная
			span.sitemap__block-link
				a(href="#") Об агенстве
			span.sitemap__block-link
				a(href="#") Услуги
			span.sitemap__block-link
				a(href="#") Сферы бизнеса
			span.sitemap__block-link
				a(href="#") Бриф
			span.sitemap__block-link
				a(href="#") Блог
			span.sitemap__block-link
				a(href="#") Контакты
		.sitemap__block
			.sitemap__block-title Продвижение в социальных сетях
			span.sitemap__block-link
				a(href="#") Продвижение ВКонтакте
			span.sitemap__block-link
				a(href="#") Продвижение Instagram
			span.sitemap__block-link
				a(href="#") Продвижение Facebook
			span.sitemap__block-link
				a(href="#") Продвижение Twitter
			span.sitemap__block-link
				a(href="#") Продвижение Youtube
		.sitemap__block
			.sitemap__block-title SEO и продвижение
			span.sitemap__block-link
				a(href="#") SEO оптимизация сайта
			span.sitemap__block-link
				a(href="#") Внешняя оптимизация сайта
			span.sitemap__block-link
				a(href="#") Внутренняя оптимизация сайта
			span.sitemap__block-link
				a(href="#") Поисковая оптимизация сайта
			span.sitemap__block-link
				a(href="#") SEO для различных CMS
			span.sitemap__block-link
				a(href="#") SEO продвижение сайта
		.sitemap__block
			.sitemap__block-title Веб-аналитика
			span.sitemap__block-link
				a(href="#") Установка и настройка счетчиков на сайте
			span.sitemap__block-link
				a(href="#") Внедрение CMS на сайте
			span.sitemap__block-link
				a(href="#") Внедрение CRM системы
			span.sitemap__block-link
				a(href="#") Сквозная аналитика
			span.sitemap__block-link
				a(href="#") Повышение конверсии
			span.sitemap__block-link
				a(href="#") A/B тестирование
		.sitemap__block
			.sitemap__block-title Сферы бизнеса
			span.sitemap__block-link
				a(href="#") Промышленность
			span.sitemap__block-link
				a(href="#") Политика и гос. структуры
			span.sitemap__block-link
				a(href="#") Медицина
			span.sitemap__block-link
				a(href="#") Торговля
			span.sitemap__block-link
				a(href="#") Образование
			span.sitemap__block-link
				a(href="#") Транспорт
			span.sitemap__block-link
				a(href="#") HoReCa
			span.sitemap__block-link
				a(href="#") Строительство и недвижимость
			span.sitemap__block-link
				a(href="#") Сфера услуг
			span.sitemap__block-link
				a(href="#") Информационные ресурсы
		.sitemap__block
			.sitemap__block-title Контекстная реклама
			span.sitemap__block-link
				a(href="#") Контекстная реклама в Яндекс.Директ
			span.sitemap__block-link
				a(href="#") Реклама в Янлдекс Маркете
			span.sitemap__block-link
				a(href="#") Контекстная реклама в Google Adwords
			span.sitemap__block-link
				a(href="#") Ремаркетинг
		.sitemap__block
			.sitemap__block-title Настройка таргет. рекламы
			span.sitemap__block-link
				a(href="#") ВКонтакте
			span.sitemap__block-link
				a(href="#") Instagram
			span.sitemap__block-link
				a(href="#") Facebook
			span.sitemap__block-link
				a(href="#") Ретаргетинг
		.sitemap__block
			.sitemap__block-title Аудит сайта
			span.sitemap__block-link
				a(href="#") SEO аудит сайта
			span.sitemap__block-link
				a(href="#") SERM аудит
			span.sitemap__block-link
				a(href="#") Технический аудит сайта
			span.sitemap__block-link
				a(href="#") Юзабилити аудит сайта
		.sitemap__block
			.sitemap__block-title Киберспорт
			span.sitemap__block-link
				a(href="#") Продвижение Twitch
			span.sitemap__block-link
				a(href="#") Реклама у киберспортсменов
			span.sitemap__block-link
				a(href="#") Организация турниров
			span.sitemap__block-link
				a(href="#") Управление репутацией
		.sitemap__block
			.sitemap__block-title Медийная реклама
			span.sitemap__block-link
				a(href="#") Баннерная реклама
			span.sitemap__block-link
				a(href="#") Видеореклама
			span.sitemap__block-link
				a(href="#") Мобильная реклама
		.sitemap__block
			.sitemap__block-title Контент-маркетинг
			span.sitemap__block-link
				a(href="#") Услуги копирайтинга
			span.sitemap__block-link
				a(href="#") Наполнение сайта контентом
			span.sitemap__block-link
				a(href="#") Контент-стратегия
		.sitemap__block
			.sitemap__block-title Управление репутацией в интернете
			span.sitemap__block-link
				a(href="#") SERM
			span.sitemap__block-link
				a(href="#") ORM
		.sitemap__block
			.sitemap__block-title E-mail маркетинг
		.sitemap__block
			.sitemap__block-title Комплексный интернет-маркетинг
		.sitemap__block
			.sitemap__block-title Другие ссылки
			span.sitemap__block-link
				a(href="#") Политика конфиденциальности
			span.sitemap__block-link
				a(href="#") Карта сайта
