$black = #000
$white = #fff
$text = #313131
$red = #D53F3F
$redborder = rgba(213, 71, 49, 0.2)

$Bold = OpenSans-Bold
$BoldItalic = OpenSans-BoldItalic
$ExtraBold = OpenSans-ExtraBold
$ExtraBoldItalic = OpenSans-ExtraBoldItalic
$Italic = OpenSans-Italic
$Light = OpenSans-Light
$LightItalic = OpenSans-LightItalic
$Regular = OpenSans-Regular
$SemiBold = OpenSans-SemiBold
$SemiBoldItalic = OpenSans-SemiBoldItalic
