@import "_variables.styl"
@import "_fonts.styl"
@import "_global.styl"

//common
@import "./blocks/common/_header.styl"
@import "./blocks/common/_sidebar_blog-single.styl"
@import "./blocks/common/_sidebar_service-single.styl"
@import "./blocks/common/_sidebar_blog.styl"
@import "./blocks/common/_footer.styl"
@import "./blocks/common/_form.styl"
@import "./blocks/common/_popup.styl"

//index
@import "./blocks/index/_services.styl"
@import "./blocks/index/_projects.styl"
@import "./blocks/index/_about.styl"

//services
@import "./blocks/services/_services-info.styl"

//services-single
@import "./blocks/services-single/_home.styl"
@import "./blocks/services-single/_services-single.styl"

//contacts
@import "./blocks/contacts/_contacts.styl"

//blog
@import "./blocks/blog/_blog.styl"

//blog-single
@import "./blocks/blog-single/_home.styl"
@import "./blocks/blog-single/_blog-single.styl"

//404
@import "./blocks/404/_404.styl"

//business
@import "./blocks/business/_business.styl"
@import "./blocks/business/_business-info.styl"

//about
@import "./blocks/about/_about.styl"

//brif
@import "./blocks/brif/_brif.styl"

//services-single
@import "./blocks/business-single/_home.styl"
@import "./blocks/business-single/_business-single.styl"

//sitemap
@import "./blocks/sitemap/_sitemap.styl"
