.sidebar
	.sidebar__garant
		.sidebar__garant-title Гарантии
		.sidebar__garant-item повышение жизненных стандартов, на первый взгляд, нетривиально;
		.sidebar__garant-item медийный канал транслирует межличностный пресс-клиппинг;
		.sidebar__garant-item комиссия, пренебрегая деталями, трансформирует культурный цикл.
	.sidebar__faq
		.sidebar__faq-title FAQ
		.sidebar__faq-item
			.sidebar__faq-item-title
				span Пул лояльных изданий переворачивается?
				i.fa.fa-angle-down
			.sidebar__faq-item-text Создание приверженного покупателя, согласно Ф.Котлеру, концентрирует метод изучения рынка.
		.sidebar__faq-item
			.sidebar__faq-item-title
				span Сегмент рынка решает?
				i.fa.fa-angle-down
			.sidebar__faq-item-text Создание приверженного покупателя, согласно Ф.Котлеру, концентрирует метод изучения рынка.
		.sidebar__faq-item
			.sidebar__faq-item-title
				span Служба маркетинга?
				i.fa.fa-angle-down
			.sidebar__faq-item-text Создание приверженного покупателя, согласно Ф.Котлеру, концентрирует метод изучения рынка.
		.sidebar__faq-item
			.sidebar__faq-item-title
				span Направленный маркетинг?
				i.fa.fa-angle-down
			.sidebar__faq-item-text Создание приверженного покупателя, согласно Ф.Котлеру, концентрирует метод изучения рынка.
		a(href="#").sidebar__faq-button
			span Все вопросы
			span (
			span 12
			span )
	.sidebar__cats
		.sidebar__cats-title По направлениям
		a(href="#").sidebar__cats-item
			span
				span Одежда
			i.fa.fa-angle-right
		a(href="#").sidebar__cats-item
			span
				span Нефть
			i.fa.fa-angle-right
		a(href="#").sidebar__cats-item
			span
				span Еда
			i.fa.fa-angle-right
