.s
	.g-wrapper
		.about
			.about__block
				.about__block__gradient
				.about__block__about
					.about__block__about-title О компании RedRadiance
					.about__block__about-button
						a(href="#").about__block__about-button-link Подробнее о компании
					.about__block__about-body
						p Дело в том, что сервисная стратегия очевидна не для всех. Управление брендом, не меняя концепции, изложенной выше, непосредственно допускает ребрендинг. Внутрифирменная реклама, как следует из вышесказанного, обуславливает связанный медиаплан.
						p Стиль менеджмента, следовательно, притягивает потребительский отраслевой стандарт. По мнению ведущих маркетологов, тактика выстраивания отношений с коммерсчекими агентами сознательно раскручивает имидж. Дело в том, что потребление усиливает нестандартный подход в работе.
					.about__block__about-footer
						.about__block__about-footer-item
							span#counter1
							span сотрудников
						.about__block__about-footer-item
							span#counter2
							span проектов
						.about__block__about-footer-item
							span#counter3
							span лет
			.about__team
				.about__team-title Наша команда
				.about__team-text Управление брендом, не меняя концепции, изложенной выше, непосредственно допускает ребрендинг.
				.about__team-slider
					.swiper-container.swiper-container-about
						.swiper-wrapper
							.swiper-slide
								.about__slide
									.about__slide-photo
										img(src="/images/author.jpg")
									.about__slide-title Иван Иванов
									.about__slide-desc директор RedRadiance
							.swiper-slide
								.about__slide
									.about__slide-photo
										img(src="/images/author.jpg")
									.about__slide-title Иван Иванов
									.about__slide-desc директор RedRadiance
							.swiper-slide
								.about__slide
									.about__slide-photo
										img(src="/images/author.jpg")
									.about__slide-title Иван Иванов
									.about__slide-desc директор RedRadiance
							.swiper-slide
								.about__slide
									.about__slide-photo
										img(src="/images/author.jpg")
									.about__slide-title Иван Иванов
									.about__slide-desc директор RedRadiance
							.swiper-slide
								.about__slide
									.about__slide-photo
										img(src="/images/author.jpg")
									.about__slide-title Иван Иванов
									.about__slide-desc директор RedRadiance
					.swiper-button-prev
						i.fa.fa-angle-left
					.swiper-button-next
						i.fa.fa-angle-right
			include ../../blocks/index/clients.pug
		//- include ../../blocks/common/form.pug
