.about__clients#about__clients
	.about__clients-title Наши клиенты
	.about__clients-items
		.about__clients-items-item
			img(src="/images/client1.png")
		.about__clients-items-item
			img(src="/images/client2.png")
		.about__clients-items-item
			img(src="/images/client3.png")
		.about__clients-items-item
			img(src="/images/client4.png")
		.about__clients-items-item
			img(src="/images/client5.png")
		.about__clients-items-item
			img(src="/images/client6.png")
		.about__clients-items-item
			img(src="/images/client7.png")
		.about__clients-items-item
			img(src="/images/client8.png")
		.about__clients-items-item
			img(src="/images/client9.png")
		.about__clients-items-item
			img(src="/images/client10.png")
		.about__clients-items-item
			img(src="/images/client11.png")
		.about__clients-items-item
			img(src="/images/client12.png")
		.about__clients-items-item
			img(src="/images/client13.png")
		.about__clients-items-item
			img(src="/images/client14.png")
		.about__clients-items-item
			img(src="/images/client15.png")
		.about__clients-items-item
			img(src="/images/client16.png")
