.projects
	.projects__title Наши проекты
	.g-wrapper
		.projects__slider
			.swiper-container.swiper-container-silder
				.swiper-wrapper
					.swiper-slide
						.projects__slider-slide(style="background: url(/images/slide1.jpg) 50% 50% no-repeat; background-size: cover;")
							.projects__slider-slide-bg
							.projects__slider-slide-container
								.projects__slider-slide-container-titles
									.projects__slider-slide-container-titles-title Киберспортивная платформа
									span PLA-PRO
									.projects__slider-slide-container-titles-desc Cybersport platform PLA-PRO
								.slide__body
									.slide__body-item
										.slide__body-item-title +324%
										.slide__body-item-text Рост трафика за счет SEO
									.slide__body-item
										.slide__body-item-title +146%
										.slide__body-item-text Увеличение кол-во зарегистрированных
									.slide__body-item
										.slide__body-item-title +256%
										.slide__body-item-text Рост доходности с рекламы
								.slide__footer
									a(href="#").slide__footer-item
										i.fa.fa-internet-explorer
										span PLA-PRO.NET
									a(href="#").slide__footer-item
										i.fa.fa-vk
										span PLA-PRO
									a(href="#").slide__footer-item
										i.fa.fa-instagram
										span PLA-PRO.NET
					.swiper-slide
						.projects__slider-slide(style="background: url(/images/slide1.jpg) 50% 50% no-repeat; background-size: cover;")
							.projects__slider-slide-bg
							.projects__slider-slide-container
								.projects__slider-slide-container-titles
									.projects__slider-slide-container-titles-title Киберспортивная платформа
									span PLA-PRO
									.projects__slider-slide-container-titles-desc Cybersport platform PLA-PRO
								.slide__body
									.slide__body-item
										.slide__body-item-title +324%
										.slide__body-item-text Рост трафика за счет SEO
									.slide__body-item
										.slide__body-item-title +146%
										.slide__body-item-text Увеличение кол-во зарегистрированных
									.slide__body-item
										.slide__body-item-title +256%
										.slide__body-item-text Рост доходности с рекламы
								.slide__footer
									a(href="#").slide__footer-item
										i.fa.fa-internet-explorer
										span PLA-PRO.NET
									a(href="#").slide__footer-item
										i.fa.fa-vk
										span PLA-PRO
									a(href="#").slide__footer-item
										i.fa.fa-instagram
										span PLA-PRO.NET
			.swiper-button-prev
				i.fa.fa-angle-left
			.swiper-button-next
				i.fa.fa-angle-right
