.brif
	.g-wrapper
		.brif__container
			.brif__block
				.brif__block-title Заполните бриф
				.brif__block-desc
					p Оставьте заявку, либо звоните, мы пообщаемся и сами все за вас заполним:
						a(href="tel:+7 (495) 134-94-34") +7 (495) 134-94-34
				.brif__block-img
					img(src="/images/brif-bg.png")
			.brif__block
				.brif__block-form
					form(action="#").brif__form
						.brif__block-form-title О проекте
						.brif__form-title Тип проекта
						.brif__form-input
							input(id="brif1" type="radio" name="type" value="Система или сервис")
							label(for="brif1") Система или сервис
						.brif__form-input
							input(id="brif2" type="radio" name="type" value="Мобильное приложение")
							label(for="brif2") Мобильное приложение
						.brif__form-input
							input(id="brif3" type="radio" name="type" value="Корпоративный сайт")
							label(for="brif3") Корпоративный сайт
						.brif__form-input
							input(id="brif4" type="radio" name="type" value="Интернет-магазин")
							label(for="brif4") Интернет-магазин
						.brif__form-input
							input(id="brif5" type="radio" name="type" value="Лендинг")
							label(for="brif5") Лендинг
						.brif__form-input
							input(id="brif6" type="radio" name="type" value="Другое")
							label(for="brif6") Другое
						.brif__form-title Услуга
						.brif__form-input
							input(id="brif7" type="radio" name="service" value="Аналитика")
							label(for="brif7") Аналитика
						.brif__form-input
							input(id="brif8" type="radio" name="service" value="Дизайн")
							label(for="brif8") Дизайн
						.brif__form-input
							input(id="brif9" type="radio" name="service" value="Разработка и интеграция")
							label(for="brif9") Разработка и интеграция
						.brif__form-input
							input(id="brif10" type="radio" name="service" value="Креативная концепция")
							label(for="brif10") Креативная концепция
						.brif__form-input
							input(id="brif11" type="radio" name="service" value="Поддержка")
							label(for="brif11") Поддержка
						.brif__form-input
							input(id="brif12" type="radio" name="service" value="Другое")
							label(for="brif12") Другое
						.brif__form-title Бюджет
						.brif__form-input
							input(id="brif13" type="radio" name="budget" value="Менее 3 млн.")
							label(for="brif13") Менее 3 млн.
						.brif__form-input
							input(id="brif14" type="radio" name="budget" value="3 - 7 млн.")
							label(for="brif14") 3 - 7 млн.
						.brif__form-input
							input(id="brif15" type="radio" name="budget" value="Более 7 млн.")
							label(for="brif15") Более 7 млн.
						.brif__form-title.brif__form-title-medium Задача
						.brif__form-title.brif__form-title-small Файл
						.brif__form-input.brif__form-input-textarea
							textarea(name="brif16" placeholder="Опишите суть проекта" required="required")
						.brif__form-input.brif__form-input-upload
							input(id="brif17" type="file" name="upload")
							label(for="brif17")
								i.fa.fa-link
								span Прикрепить файл
						.brif__block-form-title Контактные данные
						.brif__form-title.brif__form-title-half Как вас зовут?
						.brif__form-title.brif__form-title-half Контактный телефон
						.brif__form-input.brif__form-input-half
							input(type="text" name="name" placeholder="Ваше имя" required="required")
							i.fa.fa-user
						.brif__form-input.brif__form-input-half
							input(type="tel" name="phone" placeholder="Ваш телефон" required="required")
							i.fa.fa-phone
						.brif__form-title Откуда вы узнали про нас
						.brif__form-input
							input(id="brif18" type="radio" name="info" value="Google или Яндекс")
							label(for="brif18") Google или Яндекс
						.brif__form-input
							input(id="brif19" type="radio" name="info" value="Рекомендации")
							label(for="brif19") Рекомендации
						.brif__form-input
							input(id="brif20" type="radio" name="info" value="Портфолио")
							label(for="brif20") Портфолио
						.brif__form-input
							input(id="brif21" type="radio" name="info" value="Соц. сети")
							label(for="brif21") Соц. сети
						.brif__form-input
							input(id="brif22" type="radio" name="info" value="Рейтинги")
							label(for="brif22") Рейтинги
						.brif__form-button
							button(type="submit") Отправить бриф
						.brif__form-policy
							span Подписываясь на рассылку, я даю согласие на обработку персональных данных и соглашаюсь c
								a(href="#") политикой конфиденциальности
