.blog-single
	padding 50px 0
	display flex
	justify-content space-between
	&__container
		flex-basis 69%
		.content
			padding-top 0
		&-info
			display flex
			justify-content space-between
			align-items center
			background-color #fcfcfc
			border 1px solid #e7e7e7
			padding 25px 30px
			border-radius 8px
			margin-bottom 30px
			&-left
				display flex
				&-item
					margin-right 20px
					& i
						font-size 14px
					& span
						font-family $Light
						color $text
						font-size 0.75rem
						line-height 24px
						margin-left 4px
					&:last-child
						& span
							border-bottom 1px solid $redborder
							cursor pointer
							transition .3s
							&:hover
								border-color $red
			&-right
				display flex
				align-items center
				&-item
					margin-left 20px
					& i
						font-size 14px
						margin-left 4px
						color $red
					& span
						font-family $Light
						color $text
						font-size 0.75rem
						line-height 24px
						margin-left 4px
				&-link
					margin-left 20px
					font-family $SemiBold
					font-size 0.625rem
					text-transform uppercase
					cursor pointer
					color $red
					line-height 14px
					border-bottom 1px dashed $redborder
					transition .3s
					&:hover
						border-color $red
@media(max-width: 1080px)
	.blog-single
		padding 40px 0
		flex-wrap wrap
		&__container
			flex-basis 100%
@media(max-width: 650px)
	.blog-single
		&__container
			&-info
				padding 20px
				flex-wrap wrap
				&-left
					flex-wrap wrap
					flex-basis 100%
					margin-bottom 10px
					&-item
						&:last-child
							margin-right 0
				&-right
					flex-wrap wrap
					flex-basis 100%
					&-item
						margin-left 0
						margin-right 20px
						& span
							margin-left 0
							&:nth-child(3)
								margin-left 4px
					&-link
						margin-left 0
