.contentCallback
	.g-wrapper
		.services-single
			.content
				p Агентство Red Radiance оказывает профессиональные услуги по настройке и сопровождению контекстной рекламы в Яндекс.Директ и Google Adwords. Как правило, мы работаем комплексно, используя различные маркетинговые инструменты, выстраиваем единую рекламную стратегию и реализуем ее.
				hr
				strong Однако нередки случаи, когда благодаря лишь грамотно настроенной контекстной рекламе, цели бизнеса были полностью или частично удовлетворены.
				.content__table-title Стоимость услуг
				.table-full
					.content__table
						.content__table-titles
							.content__table-titles-title Услуга
							.content__table-titles-title Малый и средний бизнес
							.content__table-titles-title Продукт, бренд, крупный бизнес
							.content__table-titles-title E-commerce
						.content__table-items
							.content__table-items-item
								.content__table-items-item-text Настройка
							.content__table-items-item
								.content__table-items-item-text от 30 000 руб.
							.content__table-items-item
								.content__table-items-item-text от 40 000 руб.
							.content__table-items-item
								.content__table-items-item-text от 80 000 руб.
						.content__table-items
							.content__table-items-item
								.content__table-items-item-text Сопровождение
							.content__table-items-item
								.content__table-items-item-text от 15 000 руб. / мес.
							.content__table-items-item
								.content__table-items-item-text от 20 000 руб. / мес.
							.content__table-items-item
								.content__table-items-item-text от 30 000 руб. / мес.
			.side-wrapper
				.side-callback
					form(action="#").side-callback-form
						.side-callback-form-title Как вас зовут?
						.side-callback-form-input
							input(type="text" name="name" placeholder="Ваше имя" required="required")
							i.fa.fa-user
						.side-callback-form-title Контактный телефон
						.side-callback-form-input
							input(type="tel" name="phone" placeholder="Ваш телефон" required="required")
							i.fa.fa-phone
						.side-callback-form-button
							button(type="sumbit") Бесплатная консультация
						.side-callback-form-policy
							span Нажимая на кнопку «Отправить», я даю согласие на обработку персональных данных и соглашаюсь c
							a(href="#") политикой конфиденциальности
						.side-callback-form-text
							p Перезвоним в течении 15 минут в рабочее время
.contentText
	.g-wrapper
		.services-single
			.content
				h2 Особенности контекстной рекламы как маркетингового инструмента в 2019 году
				p За нашими плечами 10-летний опыт работы с контекстной рекламой. За эти годы наши подходы претерпели значительные изменения. Раньше было достаточно собрать семантику, определиться с бюджетом, настроить рекламные кампании и следить за эффективностью. Сейчас дела обстоят несколько сложнее.
				p Основные принципы и подходы к настройке и сопровождению контекстной рекламы.
				.content__links
					.content__links-title Услуги контекстной рекламы в Москве, виды:
					.content__links-items
						a(href="#").content__links-items-item
							span Яндекс.Директ
						a(href="#").content__links-items-item
							span Яндекс.Маркет
						a(href="#").content__links-items-item
							span Google Adwords
						a(href="#").content__links-items-item
							span Ремаркетинг
				h2 Наши подходы
				p За нашими плечами 10-летний опыт работы с контекстной рекламой. За эти годы наши подходы претерпели значительные изменения. Раньше было достаточно собрать семантику, определиться с бюджетом, настроить рекламные кампании и следить за эффективностью. Сейчас дела обстоят несколько сложнее.
				p Основные принципы и подходы к настройке и сопровождению контекстной рекламы:
				ol
					li
						span Контекстная реклама - часть общей рекламной стратегии. На практике это означает:
						ul
							li
								span единые концепция и стиль оформление контента;
							li
								span использование различных маркетинговых инструментов, подчиненных единой концепции, позволяет использовать по-максимуму сильные стороны каждого инструмента
					li
						span Принцип системного комплексного подхода. Важно понимать, что для бизнеса правильно спланированная и грамотно реализованная рекламная кампания - одно из основных ключевых преимуществ. Чем тривиальней подход к настройке и ведению РК, тем легче эти подходы копируются конкурентами и тем сложнее конкурировать с ними. Важна выделяющаяся на фоне конкурентов как концептуально, так и интеллектуально, рекламная стратегия.
					li
						span Единая сквозная аналитика и непрерывное улучшение. Средняя стоимость клика уже давно не является существенным показателем эффективности контекстной рекламы. Для эффективного анализа необходимо учитывать внутреннии показатели бизнеса (заявки, записи, клиенты, финансовые показатели и др.), а также правильно связать все данные единую систему, определить ключевые показатели эффективности и многое другое. Здесь важно найти золотую середину между точностью и сложностью такой систему и затрат на ее построение и внедрение.
				.projects
					.projects__title Наши проекты
					.projects__slider
						.swiper-container.swiper-container-silder
							.swiper-wrapper
								.swiper-slide
									.projects__slider-slide(style="background: url(/images/slide1.jpg) 50% 50% no-repeat; background-size: cover;")
										.projects__slider-slide-bg
										.projects__slider-slide-container
											.projects__slider-slide-container-titles
												.projects__slider-slide-container-titles-title Киберспортивная платформа
												span PLA-PRO
												.projects__slider-slide-container-titles-desc Cybersport platform PLA-PRO
											.slide__body
												.slide__body-item
													.slide__body-item-title +324%
													.slide__body-item-text Рост трафика за счет SEO
												.slide__body-item
													.slide__body-item-title +146%
													.slide__body-item-text Увеличение кол-во зарегистрированных
												.slide__body-item
													.slide__body-item-title +256%
													.slide__body-item-text Рост доходности с рекламы
											.slide__footer
												.slide__footer-item
													i.fa.fa-internet-explorer
													span PLA-PRO.NET
												.slide__footer-item
													i.fa.fa-vk
													span PLA-PRO
												.slide__footer-item
													i.fa.fa-instagram
													span PLA-PRO.NET
								.swiper-slide
									.projects__slider-slide(style="background: url(/images/slide1.jpg) 50% 50% no-repeat; background-size: cover;")
										.projects__slider-slide-bg
										.projects__slider-slide-container
											.projects__slider-slide-container-titles
												.projects__slider-slide-container-titles-title Киберспортивная платформа
												span PLA-PRO
												.projects__slider-slide-container-titles-desc Cybersport platform PLA-PRO
											.slide__body
												.slide__body-item
													.slide__body-item-title +324%
													.slide__body-item-text Рост трафика за счет SEO
												.slide__body-item
													.slide__body-item-title +146%
													.slide__body-item-text Увеличение кол-во зарегистрированных
												.slide__body-item
													.slide__body-item-title +256%
													.slide__body-item-text Рост доходности с рекламы
											.slide__footer
												.slide__footer-item
													i.fa.fa-internet-explorer
													span PLA-PRO.NET
												.slide__footer-item
													i.fa.fa-vk
													span PLA-PRO
												.slide__footer-item
													i.fa.fa-instagram
													span PLA-PRO.NET
						.swiper-button-prev
							i.fa.fa-angle-left
						.swiper-button-next
							i.fa.fa-angle-right
			include ../../blocks/common/sidebar_service-single.pug
			.services-single__clients
				.services-single__clients-title Наши клиенты
				.services-single__clients-items
					.services-single__clients-items-item
						img(src="/images/client1.png")
					.services-single__clients-items-item
						img(src="/images/client2.png")
					.services-single__clients-items-item
						img(src="/images/client3.png")
					.services-single__clients-items-item
						img(src="/images/client4.png")
					.services-single__clients-items-item
						img(src="/images/client5.png")
					.services-single__clients-items-item
						img(src="/images/client6.png")
					.services-single__clients-items-item
						img(src="/images/client7.png")
					.services-single__clients-items-item
						img(src="/images/client8.png")
					.services-single__clients-items-item
						img(src="/images/client9.png")
					.services-single__clients-items-item
						img(src="/images/client10.png")
					.services-single__clients-items-item
						img(src="/images/client11.png")
					.services-single__clients-items-item
						img(src="/images/client12.png")
					.services-single__clients-items-item
						img(src="/images/client13.png")
					.services-single__clients-items-item
						img(src="/images/client14.png")
					.services-single__clients-items-item
						img(src="/images/client15.png")
					.services-single__clients-items-item
						img(src="/images/client16.png")
			.blog-single__sidebar-item
				.blog-single__sidebar-item-bg
				form(action="#").blog-single__sidebar-item-callback
					.blog-single__sidebar-item-callback-container
						.blog-single__sidebar-item-callback-container-title Как вас зовут?
						.blog-single__sidebar-item-callback-container-input
							input(type="text" name="name" placeholder="Ваш имя" required="required")
							i.fa.fa-user
					.blog-single__sidebar-item-callback-container
						.blog-single__sidebar-item-callback-container-title Контактный телефон
						.blog-single__sidebar-item-callback-container-input
							input(type="tel" name="phone" placeholder="Ваш телефон" required="required")
							i.fa.fa-phone
					.blog-single__sidebar-item-callback-button
						button(type="sumbit") Бесплатная консультация
					.blog-single__sidebar-item-callback-policy
						span Даю свое согласие на обработку
							a(href="#") перс. данных
				.blog-single__sidebar-item-footer
					p Перезвоним в течении 15 минут в рабочее время
		//- include ../../blocks/common/form.pug
