.g-wrapper
	.blog
		.blog__container
			.blog__container-tags
				a(href="#").blog__container-tags-tag.blog__container-tags-tag-active Все записи
				a(href="#").blog__container-tags-tag Компания
				a(href="#").blog__container-tags-tag Предложения
				a(href="#").blog__container-tags-tag Новости
			.blog__container-items
				.blog__item
					.blog__item-image(style="background: url(/images/blog1.jpg) 50% 50% no-repeat; background-size: cover; background-color: #eaeaea;")
					.blog__item-container
						a(href="#").blog__item-container-title
							span Промо-акция для новых партнеров
						.blog__item-container-author
							i.fa.fa-user
							span Дартаньян Эгберт Феликс
						.blog__item-container-comment
							i.fa.fa-comment
							span 15 ком.
						.blog__item-container-time
							i.fa.fa-hourglass
							span 4 мин.
						.blog__item-container-content
							p Бабувизм, следовательно, оспособляет естественный конфликт. Гипотеза индуктивно представляет собой язык образов.
						.blog__item-container-date
							i.fa.fa-calendar
							span 14.01.2019
						.blog__item-container-reviews
							i.fa.fa-eye
							span 440
						.blog__item-container-link
							a(href="#") Читать полностью
				.blog__item
					.blog__item-image(style="background: url(/images/blog2.jpg) 50% 50% no-repeat; background-size: cover; background-color: #eaeaea;")
					.blog__item-container
						a(href="#").blog__item-container-title
							span Промо-акция для новых партнеров
						.blog__item-container-author
							i.fa.fa-user
							span Дартаньян Эгберт Феликс
						.blog__item-container-comment
							i.fa.fa-comment
							span 15 ком.
						.blog__item-container-time
							i.fa.fa-hourglass
							span#count 4 мин.
						.blog__item-container-content
							p Бабувизм, следовательно, оспособляет естественный конфликт. Гипотеза индуктивно представляет собой язык образов.
						.blog__item-container-date
							i.fa.fa-calendar
							span 14.01.2019
						.blog__item-container-reviews
							i.fa.fa-eye
							span 440
						.blog__item-container-link
							a(href="#") Читать полностью
				.blog__item
					.blog__item-image(style="background: url(/images/blog3.jpg) 50% 50% no-repeat; background-size: cover; background-color: #eaeaea;")
					.blog__item-container
						a(href="#").blog__item-container-title
							span Промо-акция для новых партнеров
						.blog__item-container-author
							i.fa.fa-user
							span Дартаньян Эгберт Феликс
						.blog__item-container-comment
							i.fa.fa-comment
							span 15 ком.
						.blog__item-container-time
							i.fa.fa-hourglass
							span 4 мин.
						.blog__item-container-content
							p Бабувизм, следовательно, оспособляет естественный конфликт. Гипотеза индуктивно представляет собой язык образов.
						.blog__item-container-date
							i.fa.fa-calendar
							span 14.01.2019
						.blog__item-container-reviews
							i.fa.fa-eye
							span 440
						.blog__item-container-link
							a(href="#") Читать полностью
				.blog__item
					.blog__item-image(style="background: url(/images/blog1.jpg) 50% 50% no-repeat; background-size: cover; background-color: #eaeaea;")
					.blog__item-container
						a(href="#").blog__item-container-title
							span Промо-акция для новых партнеров
						.blog__item-container-author
							i.fa.fa-user
							span Дартаньян Эгберт Феликс
						.blog__item-container-comment
							i.fa.fa-comment
							span 15 ком.
						.blog__item-container-time
							i.fa.fa-hourglass
							span 4 мин.
						.blog__item-container-content
							p Бабувизм, следовательно, оспособляет естественный конфликт. Гипотеза индуктивно представляет собой язык образов.
						.blog__item-container-date
							i.fa.fa-calendar
							span 14.01.2019
						.blog__item-container-reviews
							i.fa.fa-eye
							span 440
						.blog__item-container-link
							a(href="#") Читать полностью
				.blog__item
					.blog__item-image(style="background: url(/images/blog2.jpg) 50% 50% no-repeat; background-size: cover; background-color: #eaeaea;")
					.blog__item-container
						a(href="#").blog__item-container-title
							span Промо-акция для новых партнеров
						.blog__item-container-author
							i.fa.fa-user
							span Дартаньян Эгберт Феликс
						.blog__item-container-comment
							i.fa.fa-comment
							span 15 ком.
						.blog__item-container-time
							i.fa.fa-hourglass
							span 4 мин.
						.blog__item-container-content
							p Бабувизм, следовательно, оспособляет естественный конфликт. Гипотеза индуктивно представляет собой язык образов.
						.blog__item-container-date
							i.fa.fa-calendar
							span 14.01.2019
						.blog__item-container-reviews
							i.fa.fa-eye
							span 440
						.blog__item-container-link
							a(href="#") Читать полностью
				.blog__item
					.blog__item-image(style="background: url(/images/blog3.jpg) 50% 50% no-repeat; background-size: cover; background-color: #eaeaea;")
					.blog__item-container
						a(href="#").blog__item-container-title
							span Промо-акция для новых партнеров
						.blog__item-container-author
							i.fa.fa-user
							span Дартаньян Эгберт Феликс
						.blog__item-container-comment
							i.fa.fa-comment
							span 15 ком.
						.blog__item-container-time
							i.fa.fa-hourglass
							span 4 мин.
						.blog__item-container-content
							p Бабувизм, следовательно, оспособляет естественный конфликт. Гипотеза индуктивно представляет собой язык образов.
						.blog__item-container-date
							i.fa.fa-calendar
							span 14.01.2019
						.blog__item-container-reviews
							i.fa.fa-eye
							span 440
						.blog__item-container-link
							a(href="#") Читать полностью
				.blog__item-container-more
					i.fa.fa-refresh
					span Показать ещё
		include ../../blocks/common/sidebar_blog.pug
