.h
	.g-wrapper
		.home
			.home__block
				.home__block-title
					.home__block-title-breadcrums
						a(href="#").home__block-title-breadcrums-main Главная
						span /
						a(href="#").home__block-title-breadcrums-sub Услуги
					.home__block-title-text Услуги
					.home__block-title-dynamic RedRadiance
				.home__block-icons
					a(href="#" target="_blank")
						i.fa.fa-twitter
					a(href="#" target="_blank")
						i.fa.fa-instagram
					a(href="#" target="_blank")
						i.fa.fa-vk
					a(href="#" target="_blank")
						i.fa.fa-facebook
			.home__block
				img(src="/images/samurai.png")
			.home__block
				.home__block-item
					.home__block-item-symbol
						img(src="/images/symbol1.png")
					.home__block-item-text Честь
				.home__block-item
					.home__block-item-symbol
						img(src="/images/symbol2.png")
					.home__block-item-text Исполнение
				.home__block-item
					.home__block-item-symbol
						img(src="/images/symbol3.png")
					.home__block-item-text Ценность
